<div id="nav-announcement">
        <ul class="announcement-flex">
            <a  class="nav-brand-flex" href={{@blog.url}}>
                <li>
                    <img src="{{asset "/images/logo_inverted.png"}}" \>
                    <div id="nav-site-title">{{@blog.title}}</div>
                </li>
            </a>
            <li class="nav-action-flex">
                <a href="https://ghostforbeginners.com/ebook">Get updates on our upcoming eBook! <button id="announcement-subscribe">More Info</button> </a>
            </li>
        </ul>
    </div>

    <div id="other-sites-nav">
        <ul class="other-sites-flex">
            <a href="https://ghostforbeginners.com">
                <img src="/global-resources/icons/ghost-for-beginners_logo.svg"/>
                <div class="nav-link-flex">Ghost for Beginners</div>
            </a>
            <a href="https://allaboutghost.com">
                <img src="/global-resources/icons/all-about-ghost_logo.svg"/>
                <div class="nav-link-flex active-site">All About Ghost</div>
            </a>
            <a href="https://allghostthemes.com">
                <img src="/global-resources/icons/all-ghost-themes_logo.svg"/>
                <div class="nav-link-flex">All Ghost Themes</div>
            </a>
            <a href="https://howtoinstallghost.com">
                <img src="/global-resources/icons/how-to-install-ghost_logo.svg"/>
                <div class="nav-link-flex">How to Install Ghost</div>
            </a>
        </ul>
    </div>