/*
 * Styles for the Home Page
 */

main.content {
	font-size: 16px;
}

.main-head {
	position: relative;
    display: table;
    width: 100%;
    
	height: 300px;
	text-align: center;
    
	background-size: cover;
	background-position: center;

	.blog-title {
		font-family: "Open Sans",sans-serif;
		font-weight: 100;
		font-size: 10rem;
		margin: 10px auto;
	}

	.blog-description {
		font-family: "Open Sans",sans-serif;
		font-size: 20px;
	}
}

.home-content {
	display: flex;
	display: -webkit-flex;
	margin: 20px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.logo-left {
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;

}

.home-logo {
	width: 350px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;

	img {
		width: 250px;
		align-self: center;
		-webkit-align-self: center;
	}
}

.home-desc {
	flex: 1;
	-webkit-flex: 1;
	align-self: center;
	-webkit-align-self: center;

	min-width: 250px;

	.home-site-link {
		font-weight: bold;
	}
}